Repository marblehands/rs-school-tasks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,js,ts,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

feat: RSS-PZ-08 Design Game Page (#76)
  game.html
  src/app/components/board/board.ts
  src/app/components/puzzle/puzzle.css
  src/app/components/puzzle/puzzle.ts
  src/app/pages/game/game.css
  src/app/pages/game/game.ts
  src/app/view/main/main.ts
  src/assets/svg/middle1.svg
  src/html/auth.html
  src/html/start.html
  src/styles/variables.css
Due: prettier --write, stylelint --fix

feat: implement counting of puzzle width for desktop
  src/app/components/board/board.ts
  src/app/components/puzzle/puzzle.css
  src/app/components/puzzle/puzzle.ts
  src/app/pages/game/game.css
Due: prettier --write, stylelint --fix

feat: implement result line class and dynamic counting of its width
  src/app/components/board/board.ts
  src/app/components/board/resultLine/resultLine.ts
  src/app/helpers/windowResize.ts/windowResize.ts
  src/app/pages/game/game.css
Due: prettier --write, stylelint --fix

feat: implement dynamic width counting and updating for puzzle item
  src/app/components/board/board.ts
  src/app/components/puzzle/puzzle.ts
Due: prettier --write

feat: RSS-PZ-09 Dynamic Sizing of Word Cards (#77)
  src/app/components/board/board.ts
  src/app/components/board/resultLine/resultLine.ts
  src/app/components/puzzle/puzzle.css
  src/app/components/puzzle/puzzle.ts
  src/app/helpers/windowResize.ts/windowResize.ts
  src/app/pages/game/game.css
Due: prettier --write, stylelint --fix

feat: implement word card returning back to source block on click
  src/app/components/board/board.ts
  src/app/components/board/resultLine/resultLine.ts
  src/app/components/puzzle/puzzle.ts
Due: prettier --write

feat: implement empty places for word cards in result block
  src/app/components/board/board.ts
  src/app/components/board/resultLine/resultLine.css
  src/app/components/board/resultLine/resultLine.ts
  src/app/pages/game/game.css
  src/app/utils/utils.ts
Due: prettier --write, stylelint --fix

feat: update styles
  src/app/components/board/resultLine/resultLine.css
  src/app/components/board/resultLine/resultLine.ts
  src/app/components/puzzle/puzzle.css
  src/app/pages/game/game.css
Due: prettier --write, stylelint --fix

feat: implement base Line class
  src/app/components/board/baseLine/baseLine.css
  src/app/components/board/baseLine/baseLine.ts
  src/app/components/board/board.ts
  src/app/components/board/sourceLine/sourceLine.css
  src/app/components/board/sourceLine/sourceLine.ts
Due: prettier --write, stylelint --fix

fix: implement correct appending of word cards into source line
  src/app/components/board/board.ts
  src/app/components/board/sourceLine/sourceLine.css
  src/app/pages/game/game.css
Due: prettier --write, stylelint --fix

--amend
  src/app/components/puzzle/puzzle.css
Due: stylelint --fix

feat: implement moving the word card back to the source block
  src/app/components/board/board.ts
Due: prettier --write

--amend
  src/app/components/board/board.ts
  src/app/components/board/resultLine/resultLine.css
  src/app/components/board/sourceLine/sourceLine.css
  src/app/components/puzzle/emptyPlace.ts
  src/app/components/puzzle/puzzle.ts
  src/app/components/puzzle/puzzleItem.ts
Due: prettier --write, stylelint --fix

feat: RSS-PZ-10 Reversible Interaction with Word Cards (#78)
  src/app/components/board/baseLine/baseLine.css
  src/app/components/board/baseLine/baseLine.ts
  src/app/components/board/board.ts
  src/app/components/board/resultLine/resultLine.css
  src/app/components/board/sourceLine/sourceLine.css
  src/app/components/board/sourceLine/sourceLine.ts
  src/app/components/puzzle/emptyPlace.ts
  src/app/components/puzzle/puzzle.css
  src/app/components/puzzle/puzzle.ts
  src/app/components/puzzle/puzzleItem.ts
  src/app/utils/utils.ts
Due: prettier --write, stylelint --fix

feat: implement Continue button
  src/app/components/board/baseLine/baseLine.css
  src/app/components/board/baseLine/baseLine.ts
  src/app/components/board/board.ts
  src/app/components/board/resultLines.ts
  src/app/components/board/sourceLine/sourceLine.css
  src/app/components/continueButton/continueButton.css
  src/app/components/continueButton/continueButton.ts
  src/app/components/puzzle/puzzle.css
  src/app/components/puzzle/puzzle.ts
  src/app/data/data.ts
  src/app/data/interfaces.ts
  src/app/data/level1.ts
  src/app/data/level2.ts
  src/app/data/utils.ts
  src/app/helpers/getData.ts
  src/app/pages/game/game.css
  src/app/view/main/main.ts
  src/assets/svg/mask-left.svg
  src/assets/svg/mask-psevdo.svg
  src/assets/svg/mask-right.svg
  src/assets/svg/mask.svg
  src/main.js
Due: prettier --write, stylelint --fix

feat: check current word sequence with sentence
  src/app/components/board/board.ts
Due: prettier --write

feat: show the next sentence by clicking on the Continue button
  src/app/components/board/board.ts
  src/app/components/board/sourceLine/sourceLine.css
  src/app/components/board/sourceLines.ts
  src/app/components/puzzle/emptyPlace.ts
  src/app/components/puzzle/puzzle.css
  src/app/components/puzzle/puzzle.ts
  src/app/components/puzzle/puzzleItem.ts
Due: prettier --write, stylelint --fix

feat: implement round changing
  src/app/components/baseComponent/baseComponent.ts
  src/app/components/board/board.ts
Due: prettier --write

feat: RSS-PZ-11 Implement Continue Button (#79)
  src/app/components/baseComponent/baseComponent.ts
  src/app/components/board/baseLine/baseLine.css
  src/app/components/board/baseLine/baseLine.ts
  src/app/components/board/board.ts
  src/app/components/board/resultLines.ts
  src/app/components/board/sourceLines.ts
  src/app/components/continueButton/continueButton.css
  src/app/components/continueButton/continueButton.ts
  src/app/components/puzzle/emptyPlace.ts
  src/app/components/puzzle/puzzle.css
  src/app/components/puzzle/puzzle.ts
  src/app/components/puzzle/puzzleItem.ts
  src/app/data/data.ts
  src/app/data/interfaces.ts
  src/app/data/level1.ts
  src/app/data/level2.ts
  src/app/data/utils.ts
  src/app/helpers/getData.ts
  src/app/pages/game/game.css
  src/app/view/main/main.ts
  src/assets/svg/mask-left.svg
  src/assets/svg/mask-psevdo.svg
  src/assets/svg/mask-right.svg
  src/assets/svg/mask.svg
  src/main.js
Due: prettier --write, stylelint --fix

feat: implement login and logout flow by adding router feature
  src/app/app.ts
  src/app/components/button/button.ts
  src/app/components/loginForm/loginForm.ts
  src/app/components/logoutButton/logoutButton.ts
  src/app/components/startButton/startButton.ts
  src/app/helpers/localStorage.ts
  src/app/pages/login/login.ts
  src/app/pages/router/router.ts
  src/app/pages/router/types.ts
  src/app/pages/start/start.ts
  src/app/view/header/header.ts
  src/app/view/main/main.ts
Due: prettier --write

fix: fix styles for disabled buttons
  src/app/components/continueButton/continueButton.css
Due: stylelint --fix

feat: RSS-PZ-04 Implement Login And Logout Processes (#80)
  src/app/app.ts
  src/app/components/button/button.ts
  src/app/components/continueButton/continueButton.css
  src/app/components/loginForm/loginForm.ts
  src/app/components/logoutButton/logoutButton.ts
  src/app/components/startButton/startButton.ts
  src/app/helpers/localStorage.ts
  src/app/pages/login/login.ts
  src/app/pages/router/router.ts
  src/app/pages/router/types.ts
  src/app/pages/start/start.ts
  src/app/view/header/header.ts
  src/app/view/main/main.ts
Due: prettier --write, stylelint --fix

feat: add Check button, toggle its state and implement puzzle sequence check by click
  src/app/components/board/board.ts
  src/app/components/board/checkButton/checkButton.css
  src/app/components/board/checkButton/checkButton.ts
  src/app/components/continueButton/continueButton.ts
Due: prettier --write, stylelint --fix

feat: add styles for wrong and correct puzzles
  src/app/components/board/board.ts
  src/app/components/puzzle/puzzle.css
Due: prettier --write, stylelint --fix

feat: RSS-PZ-12 Implement Check Button (#81)
  src/app/components/board/board.ts
  src/app/components/board/checkButton/checkButton.css
  src/app/components/board/checkButton/checkButton.ts
  src/app/components/continueButton/continueButton.ts
  src/app/components/puzzle/puzzle.css
Due: prettier --write, stylelint --fix

feat: hide Check button when sentence is correct
  src/app/components/board/board.ts
Due: prettier --write

chore: fix linter errors and change eslint config
  .eslintrc.cjs
  src/app/components/board/board.ts
  src/app/pages/router/router.ts
Due: prettier --write

feat: put Continue and Check buttons into the wrapper element
  src/app/components/board/board.ts
  src/app/pages/game/game.css
Due: prettier --write, stylelint --fix

feat: RSS-PZ-13 Transform Check Button into Continue Button (#82)
  .eslintrc.cjs
  src/app/components/board/board.ts
  src/app/pages/game/game.css
  src/app/pages/router/router.ts
Due: prettier --write, stylelint --fix

feat: implement Auto-Complete Button
  src/app/components/autoCompleteButton/autoCompleteButton.css
  src/app/components/autoCompleteButton/autoCompleteButton.ts
  src/app/components/board/board.ts
  src/app/components/checkButton/checkButton.css
  src/app/components/checkButton/checkButton.ts
Due: prettier --write, stylelint --fix

feat: RSS-PZ-14 Implement Auto-Complete Button (#83)
  src/app/components/autoCompleteButton/autoCompleteButton.css
  src/app/components/autoCompleteButton/autoCompleteButton.ts
  src/app/components/board/board.ts
  src/app/components/checkButton/checkButton.css
  src/app/components/checkButton/checkButton.ts
Due: prettier --write, stylelint --fix

fix: fix puzzles containers width
  src/app/components/board/baseLine/baseLine.ts
  src/app/components/board/board.ts
  src/app/components/board/resultLine/resultLine.css
  src/app/components/puzzle/puzzle.ts
  src/app/components/puzzle/puzzleItem.ts
  src/app/pages/router/types.ts
  src/html/game.html
Due: prettier --write, stylelint --fix

fix: fix width calculation
  src/app/components/board/baseLine/baseLine.ts
  src/app/components/board/board.ts
  src/app/components/board/resultLine/resultLine.css
  src/app/components/board/resultLine/resultLine.ts
  src/app/components/board/resultLines.ts
  src/app/components/board/sourceLine/sourceLine.ts
  src/app/components/board/sourceLines.ts
  src/app/components/puzzle/puzzle.css
  src/app/components/puzzle/puzzle.ts
  src/app/components/puzzle/puzzleItem.ts
  src/assets/svg/clip-path.svg
  src/assets/svg/start1.svg
  src/html/game.html
Due: prettier --write, stylelint --fix

feat: RSS-PZ-34 Last Fixes (#84)
  game.html
  src/app/components/board/baseLine/baseLine.ts
  src/app/components/board/board.ts
  src/app/components/board/resultLine/resultLine.css
  src/app/components/board/resultLine/resultLine.ts
  src/app/components/board/resultLines.ts
  src/app/components/board/sourceLine/sourceLine.ts
  src/app/components/board/sourceLines.ts
  src/app/components/puzzle/puzzle.css
  src/app/components/puzzle/puzzle.ts
  src/app/components/puzzle/puzzleItem.ts
  src/app/pages/router/types.ts
  src/assets/svg/clip-path.svg
  src/assets/svg/start1.svg
Due: prettier --write, stylelint --fix

refactor: remove commented code
  src/app/components/board/board.ts
  src/app/components/board/resultLines.ts
  src/app/components/puzzle/emptyPlace.ts
  src/app/components/puzzle/puzzle.ts
Due: prettier --write

feat: add rss puzzle build
  rss-puzzle/assets/game-DS3ZvThW.js
  rss-puzzle/assets/game-DufDUKLu.css
  rss-puzzle/assets/index-2CqhxmcN.js
  rss-puzzle/assets/index-D8X1un5p.css
  rss-puzzle/assets/login-BBErDXfU.css
  rss-puzzle/assets/login-BZYS8hdS.js
  rss-puzzle/assets/login-form-img-C830WC3j.svg
  rss-puzzle/assets/rss-logo-DlEKs10k.svg
  rss-puzzle/assets/start-BMn039mo.js
  rss-puzzle/assets/start-bg-W10QKqLf.svg
  rss-puzzle/assets/start-img-D9WjS5NF.svg
  rss-puzzle/assets/start-y_j_Af-C.css
  rss-puzzle/index.html
Due: prettier --write, stylelint --fix

fix: fix paths rss-puzzle build
  rss-puzzle/index.html
Due: prettier --write

refactor: remove unnecesary code and files
  index.html
  public/_redirects
  public/favicon.svg
  src/app/components/board/baseLine/baseLine.ts
  src/app/components/board/board.ts
  src/app/components/board/sourceLines.ts
  src/app/components/continueButton/continueButton.css
  src/app/components/loginForm/loginForm.ts
  src/app/components/startButton/startButton.css
  src/app/data/level1.ts
  src/app/data/level2.ts
  src/app/data/utils.ts
  src/app/helpers/getData.ts
  src/app/pages/start/start.css
  src/app/pages/start/start.ts
  src/app/view/main/main.ts
  src/assets/svg/clip-path.svg
  src/assets/svg/mask-left.svg
  src/assets/svg/mask-psevdo.svg
  src/assets/svg/mask-right.svg
  src/assets/svg/mask.svg
  src/assets/svg/middle1.svg
  src/html/auth.html
  src/html/start.html
Due: prettier --write, stylelint --fix

refactor: remove unneccesary code and files
  src/app/components/board/baseLine/baseLine.ts
  src/app/components/board/board.ts
  src/app/components/board/resultLines.ts
  src/app/components/board/sourceLines.ts
  src/app/components/loginForm/loginForm.ts
  src/app/components/puzzle/emptyPlace.ts
  src/app/components/puzzle/puzzle.ts
  src/app/data/level1.ts
  src/app/data/level2.ts
  src/app/data/utils.ts
  src/app/helpers/getData.ts
  src/app/pages/start/start.ts
  src/app/view/main/main.ts
  src/assets/svg/clip-path.svg
  src/assets/svg/mask-left.svg
  src/assets/svg/mask-psevdo.svg
  src/assets/svg/mask-right.svg
  src/assets/svg/mask.svg
  src/assets/svg/middle1.svg
  src/html/auth.html
  src/html/start.html
Due: prettier --write

Refactor: RSS-PZ-35 Clean Code and Files (#86)
  src/app/components/board/baseLine/baseLine.ts
  src/app/components/board/board.ts
  src/app/components/board/resultLines.ts
  src/app/components/board/sourceLines.ts
  src/app/components/loginForm/loginForm.ts
  src/app/components/puzzle/emptyPlace.ts
  src/app/components/puzzle/puzzle.ts
  src/app/data/level1.ts
  src/app/data/level2.ts
  src/app/data/utils.ts
  src/app/helpers/getData.ts
  src/app/pages/start/start.ts
  src/app/view/main/main.ts
  src/assets/svg/clip-path.svg
  src/assets/svg/mask-left.svg
  src/assets/svg/mask-psevdo.svg
  src/assets/svg/mask-right.svg
  src/assets/svg/mask.svg
  src/assets/svg/middle1.svg
  src/html/auth.html
  src/html/start.html
Due: prettier --write
