Repository marblehands/rs-school-tasks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

fix: fix pagination when deleting 8th car
  src/app/components/garage/garage.ts
  src/app/components/pagination/pagination.ts
  src/app/components/winners/types.ts
  src/app/components/winners/winners.ts
Due: prettier --write

feat: add sorting for winners table
  src/app/api/api.ts
  src/app/components/car/car.ts
  src/app/components/garage/garage.css
  src/app/components/garage/garage.ts
  src/app/components/pagination/pagination.ts
  src/app/components/tags/tags.ts
  src/app/components/winners/types.ts
  src/app/components/winners/winners.ts
  src/app/utils/generateSvg.ts
  src/app/utils/sortRaceResults.ts
  src/assets/snail.svg
Due: prettier --write, stylelint --fix

feat: add styles for header and body, fix updating and deleting winner
  index.html
  src/app/components/header/header.css
  src/app/components/header/header.ts
  src/app/components/winners/winners.ts
  src/app/utils/generateSvg.ts
  src/assets/body-bg.jpg
  src/styles/global.css
  src/styles/variables.css
Due: prettier --write, stylelint --fix

feat: add styles for garage forms
  src/app/components/baseForm/form.css
  src/app/components/baseForm/form.ts
  src/app/components/createForm/createForm.ts
  src/app/components/garage/garage.css
  src/app/components/garage/garage.ts
  src/app/components/header/header.css
  src/app/components/pagination/pagination.ts
  src/app/components/tags/tags.ts
  src/app/components/track/track.ts
  src/app/components/updateForm/updateForm.ts
  src/app/components/winners/winners.ts
  src/styles/global.css
  src/styles/variables.css
Due: prettier --write, stylelint --fix

feat: add styles for tracks
  src/app/components/baseForm/form.ts
  src/app/components/car/car.css
  src/app/components/car/car.ts
  src/app/components/track/track.css
  src/app/components/track/track.ts
  src/app/utils/generateSvg.ts
  src/assets/finish.svg
  src/assets/snail.svg
  src/styles/global.css
  src/styles/variables.css
Due: prettier --write, stylelint --fix

feat: add styles for winners page
  src/app/components/baseForm/form.ts
  src/app/components/updateForm/updateForm.ts
  src/app/components/winners/winnerRow.ts
  src/app/components/winners/winners.css
  src/app/components/winners/winners.ts
Due: prettier --write, stylelint --fix

feat: add color preview for create and update forms
  src/app/components/baseForm/form.css
  src/app/components/baseForm/form.ts
  src/app/components/baseForm/types.ts
  src/app/components/updateForm/updateForm.ts
Due: prettier --write, stylelint --fix

refactor: change colors
  src/app/components/baseForm/form.ts
  src/app/data/carNames.ts
  src/app/utils/generateSvg.ts
Due: prettier --write

refactor: remove some magic strings and numbers
  public/vite.svg
  src/app/api/api.ts
  src/app/api/types.ts
  src/app/components/garage/garage.ts
  src/app/components/header/header.ts
  src/app/components/pagination/pagination.ts
  src/app/components/winners/winners.ts
Due: prettier --write

chore: add _redirects file
  public/_redirects
Due: none

refactor: add http status enum
  src/app/api/api.ts
Due: prettier --write

fix: remove duplicated request to server
  src/app/components/garage/garage.ts
Due: prettier --write

refactor: add request method enum
  src/app/api/api.ts
  src/app/api/types.ts
Due: prettier --write

chore: setup project
  .editorconfig
  .eslintignore
  .eslintrc.cjs
  .husky/commit-msg
  .husky/install.mjs
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  commitlint.config.js
  index.html
  package-lock.json
  package.json
  public/_redirects
  public/vite.svg
  src/main.ts
  src/vite-env.d.ts
  tsconfig.json
Due: prettier --write

feat: add baseconponent
  src/app/components/baseComponent/baseComponent.ts
  src/app/components/baseComponent/interfaces.ts
Due: prettier --write

feat: add router and basic page views
  .github/pull_request_template.md
  src/app/app.ts
  src/app/components/baseComponent/baseComponent.ts
  src/app/components/baseComponent/interfaces.ts
  src/app/components/footer.ts
  src/app/components/header.ts
  src/app/components/main.ts
  src/app/pages/aboutPage.ts
  src/app/pages/authPage.ts
  src/app/pages/chatPage.ts
  src/app/services/router.ts
  src/app/services/routes.ts
  src/app/view/input.ts
  src/app/view/loginFormController.ts
  src/app/view/loginFormModel.ts
  src/app/view/loginFormView.ts
  src/main.ts
Due: prettier --write

feat: setup user login
  src/app/app.ts
  src/app/pages/authPage.ts
  src/app/services/eventEmitter.ts
  src/app/services/types.ts
  src/app/services/webSocketClient.ts
  src/app/services/webSocketController.ts
  src/app/view/loginFormController.ts
  src/app/view/loginFormView.ts
Due: prettier --write

feat: save user in session storage
  src/app/app.ts
  src/app/components/header.ts
  src/app/pages/authPage.ts
  src/app/services/router.ts
  src/app/services/sessionStorage.ts
  src/app/view/loginFormController.ts
  src/app/view/loginFormModel.ts
  src/app/view/userModel.ts
Due: prettier --write

feat: add basic styles and content
  src/app/app.ts
  src/app/components/footer.ts
  src/app/components/header.ts
  src/app/components/main/main.css
  src/app/components/main/main.ts
  src/app/pages/aboutPage.ts
  src/app/pages/authPage.ts
  src/app/pages/pages.css
  src/app/services/router.ts
  src/app/services/sessionStorage.ts
  src/app/styles/global.css
  src/app/styles/normalize.css
  src/app/view/loginFormView.ts
Due: prettier --write, stylelint --fix

feat: add error modal and header content
  src/app/app.ts
  src/app/components/header.ts
  src/app/pages/pages.css
  src/app/services/types.ts
  src/app/services/webSocketController.ts
  src/app/view/modal/modal.css
  src/app/view/modal/modal.ts
Due: prettier --write, stylelint --fix

feat: add logout feature
  public/vite.svg
  src/app/app.ts
  src/app/components/footer.ts
  src/app/components/header.ts
  src/app/pages/aboutPage.ts
  src/app/pages/authPage.ts
  src/app/pages/pages.css
  src/app/services/router.ts
  src/app/services/types.ts
  src/app/services/webSocketClient.ts
  src/app/services/webSocketController.ts
  src/app/view/loginFormController.ts
  src/app/view/userModel.ts
Due: prettier --write, stylelint --fix

feat: render static list of users
  src/app/controllers/appController.ts
  src/app/controllers/chatController.ts
  src/app/controllers/dialogController.ts
  src/app/controllers/listOfUsersController.ts
  src/app/controllers/loginFormController.ts
  src/app/controllers/messagesFeedController.ts
  src/app/controllers/newMessageController.ts
  src/app/model/listOfUsersModel.ts
  src/app/model/userModel.ts
  src/app/pages/aboutPage.ts
  src/app/pages/authPage.ts
  src/app/pages/chatPage.ts
  src/app/pages/pages.css
  src/app/services/router.ts
  src/app/services/sessionStorage.ts
  src/app/services/types.ts
  src/app/services/webSocketClient.ts
  src/app/styles/global.css
  src/app/view/baseComponent/baseComponent.ts
  src/app/view/baseComponent/interfaces.ts
  src/app/view/dialog/dialogView.ts
  src/app/view/footer/footer.ts
  src/app/view/header/header.ts
  src/app/view/input.ts
  src/app/view/listOfUsers/listView/list.css
  src/app/view/listOfUsers/listView/listView.ts
  src/app/view/listOfUsers/userItem/userItem.css
  src/app/view/listOfUsers/userItem/userItemView.ts
  src/app/view/loginFormView.ts
  src/app/view/main/main.css
  src/app/view/main/main.ts
  src/app/view/modal/modal.ts
  src/main.ts
Due: prettier --write, stylelint --fix

fix: fix rendering of users list
  src/app/controllers/appController.ts
  src/app/controllers/chatController.ts
  src/app/controllers/listOfUsersController.ts
  src/app/controllers/newMessageController.ts
  src/app/dialog/dialog.css
  src/app/dialog/dialogController.ts
  src/app/dialog/dialogHeader.ts
  src/app/dialog/dialogMain.ts
  src/app/dialog/dialogView.ts
  src/app/dialog/inputMessageArea.ts
  src/app/listOfUsers/listOfUsersController.ts
  src/app/listOfUsers/listOfUsersModel.ts
  src/app/listOfUsers/userItem/userItem.css
  src/app/listOfUsers/userItem/userItemView.ts
  src/app/listOfUsers/view/list.css
  src/app/listOfUsers/view/listOfUsersView.ts
  src/app/loginForm/loginFormController.ts
  src/app/loginForm/loginFormView.ts
  src/app/model/listOfUsersModel.ts
  src/app/model/userModel.ts
  src/app/pages/authPage.ts
  src/app/pages/chatPage.ts
  src/app/pages/pages.css
  src/app/services/webSocketClient.ts
  src/app/view/header/header.ts
  src/app/view/input/input.ts
  src/app/view/listOfUsers/listView/listView.ts
Due: prettier --write, stylelint --fix

feat: send and render sent message
  src/app/dialog/dialog.css
  src/app/dialog/dialogHeader.ts
  src/app/dialog/dialogMain.ts
  src/app/dialog/dialogView.ts
  src/app/dialog/inputMessageArea.ts
  src/app/listOfUsers/userItem/userItem.css
  src/app/services/types.ts
  src/app/services/webSocketClient.ts
  src/app/styles/global.css
Due: prettier --write, stylelint --fix

feat: render received message
  src/app/dialog/dialog.css
  src/app/dialog/dialogHeader.ts
  src/app/dialog/dialogMain.ts
  src/app/dialog/dialogModel.ts
  src/app/dialog/dialogView.ts
  src/app/dialog/types.ts
Due: prettier --write, stylelint --fix

fix: fix duplication of send messages after logout
  src/app/controllers/appController.ts
  src/app/controllers/chatController.ts
  src/app/dialog/dialog.css
  src/app/dialog/dialogHeader.ts
  src/app/dialog/dialogMain.ts
  src/app/dialog/dialogModel.ts
  src/app/dialog/dialogView.ts
  src/app/dialog/inputMessageArea.ts
  src/app/listOfUsers/userItem/userItem.css
  src/app/listOfUsers/userItem/userItemView.ts
  src/app/loginForm/loginFormController.ts
  src/app/model/allUsersModel.ts
  src/app/pages/chatPage.ts
  src/app/services/router.ts
  src/app/services/sessionStorage.ts
  src/app/services/types.ts
  src/app/services/webSocketClient.ts
  src/main.ts
Due: prettier --write, stylelint --fix

feat: render users history and fix login feature
  src/app/controllers/appController.ts
  src/app/dialog/dialogMain.ts
  src/app/dialog/dialogModel.ts
  src/app/dialog/dialogView.ts
  src/app/dialog/inputMessageArea.ts
  src/app/model/allUsersModel.ts
  src/app/services/webSocketClient.ts
Due: prettier --write

feat: add auto scroll to last message
  src/app/dialog/dialog.css
  src/app/dialog/dialogMain.ts
  src/app/dialog/dialogView.ts
Due: prettier --write, stylelint --fix

fix: fix login form validation
  src/app/controllers/appController.ts
  src/app/dialog/dialogMain.ts
  src/app/dialog/dialogModel.ts
  src/app/dialog/inputMessageArea.ts
  src/app/listOfUsers/listOfUsersController.ts
  src/app/listOfUsers/userItem/userItemView.ts
  src/app/listOfUsers/view/listOfUsersView.ts
  src/app/loginForm/loginFormController.ts
  src/app/loginForm/loginFormView.ts
  src/app/model/allUsersModel.ts
  src/app/pages/authPage.ts
  src/app/services/sessionStorage.ts
  src/app/services/webSocketClient.ts
  src/app/styles/global.css
Due: prettier --write, stylelint --fix

init: start task
  presentation/presentation.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,md,js,ts,html}
  stylelint --fix: any of: *.{css,scss}
  eslint src --ext .ts: any of: *.{ts}
  eslint --ext ts --fix .: any of: *.{ts}
