Repository marblehands/rs-school-tasks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

.lintstagedrc.json:

{
  "*.{json,md,js,ts,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"],
  "*.{js,ts}": ["eslint src --ext .ts", "eslint --ext ts --fix ."]
}

chore: setup project
  .editorconfig
  .eslintignore
  .eslintrc.cjs
  .gitignore
  .husky/commit-msg
  .husky/install.mjs
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  commitlint.config.js
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/main.ts
  tsconfig.json
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: create basic components
  src/app/app.ts
  src/app/components/baseComponent/baseComponent.ts
  src/app/components/baseComponent/interfaces.ts
  src/app/components/car/car.ts
  src/app/components/footer/footer.ts
  src/app/components/garage/garage.ts
  src/app/components/header/header.ts
  src/app/components/main/main.ts
  src/app/components/tags/tags.ts
  src/app/components/winners/winners.ts
  src/app/services/router/router.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: implement routing
  index.html
  src/app/app.ts
  src/app/components/garage/garage.ts
  src/app/components/header/header.ts
  src/app/components/winners/winners.ts
  src/app/services/router/router.ts
  src/app/services/router/types.ts
  src/main.js
  src/main.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: add global css file
  src/app/app.ts
  src/styles/global.css
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: get default cars
  src/app/api/api.ts
  src/app/components/garage/garage.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: render default cars
  src/app/api/api.ts
  src/app/components/car/car.ts
  src/app/components/car/types.ts
  src/app/components/garage/garage.ts
  src/assets/car.svg
  src/assets/sprite.svg
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: add basic css styles
  src/app/components/car/car.css
  src/app/components/car/car.ts
  src/app/components/garage/garage.css
  src/app/components/garage/garage.ts
  src/app/components/header/header.css
  src/app/components/header/header.ts
  src/app/components/main/main.css
  src/app/components/main/main.ts
  src/styles/global.css
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: render current cars number in garage
  src/app/components/baseComponent/baseComponent.ts
  src/app/components/garage/garage.css
  src/app/components/garage/garage.ts
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: generate and render 100 random cars
  src/app/api/api.ts
  src/app/components/garage/garage.ts
  src/app/data/carNames.ts
  src/app/utils/generateCars.ts
  src/app/utils/randomColor.ts
  src/app/utils/randomName.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

refactor: refactor car generation feature
  src/app/api/api.ts
  src/app/components/car/types.ts
  src/app/components/garage/garage.ts
  src/app/utils/generateCars.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: render tracks
  src/app/components/car/car.css
  src/app/components/garage/garage.ts
  src/app/components/track/track.css
  src/app/components/track/track.ts
  src/assets/finish.svg
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: add event emitter, add delete car feature, render create and update car forms
  src/app/api/api.ts
  src/app/components/baseForm/form.css
  src/app/components/baseForm/form.ts
  src/app/components/editForm/editForm.ts
  src/app/components/garage/garage.css
  src/app/components/garage/garage.ts
  src/app/components/track/track.ts
  src/app/services/eventEmitter/eventEmitter.ts
  src/app/utils/randomName.ts
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: add create new car feature
  .lintstagedrc.json
  src/app/api/api.ts
  src/app/components/baseForm/form.css
  src/app/components/baseForm/form.ts
  src/app/components/garage/garage.ts
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: disable update car form by default
  src/app/components/baseForm/form.ts
  src/app/components/garage/garage.ts
  src/app/components/header/header.css
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: add update car feature
  src/app/api/api.ts
  src/app/components/baseForm/form.ts
  src/app/components/car/car.ts
  src/app/components/createForm/createForm.ts
  src/app/components/garage/garage.ts
  src/app/components/track/track.ts
  src/app/components/updateForm/updateForm.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

fix: fix update car feature
  src/app/components/car/car.ts
  src/app/components/updateForm/updateForm.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

fix: reset create new car form after submit
  src/app/components/baseForm/form.ts
  src/app/components/createForm/createForm.ts
  src/app/components/updateForm/updateForm.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: add winners counter
  src/app/components/winners/winners.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: render winners table
  src/app/api/api.ts
  src/app/components/car/car.ts
  src/app/components/garage/garage.css
  src/app/components/garage/garage.ts
  src/app/components/tags/tags.ts
  src/app/components/winners/types.ts
  src/app/components/winners/winner.ts
  src/app/components/winners/winnerRow.ts
  src/app/components/winners/winners.css
  src/app/components/winners/winners.ts
  src/styles/global.css
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: delete car from winner table
  src/app/api/api.ts
  src/app/components/garage/garage.ts
  src/app/components/winners/winners.css
  src/app/components/winners/winners.ts
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

fix: fix event listeners multiplication
  src/app/api/api.ts
  src/app/app.ts
  src/app/components/garage/garage.ts
  src/app/components/winners/winners.ts
  src/app/services/eventEmitter/eventEmitter.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: add animation of driving by clicking on the start button
  src/app/api/api.ts
  src/app/api/types.ts
  src/app/components/car/car.css
  src/app/components/track/track.css
  src/app/components/track/track.ts
  src/app/utils/randomName.ts
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

chore: add vite-env.d.ts file
  index.html
  src/app/components/garage/garage.css
  src/main.ts
  src/vite-env.d.ts
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: stop car after unsuccessful drive mode request
  src/app/api/api.ts
  src/app/api/types.ts
  src/app/components/track/track.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: disable start/stop buttons
  src/app/app.ts
  src/app/components/track/track.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

chore: update eslint rule
  .eslintrc.cjs
Due: none

refactor: refactor generate 100 cars function
  src/app/components/garage/garage.ts
  src/app/utils/generateCars.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

refactor: update event emitter
  src/app/services/eventEmitter/eventEmitter.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: implement stop car feature
  src/app/api/api.ts
  src/app/components/car/car.css
  src/app/components/header/header.css
  src/app/components/track/track.ts
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: add race and reset button
  src/app/components/garage/garage.ts
  src/app/components/track/track.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: implement race feature
  src/app/components/garage/garage.ts
  src/app/components/garage/types.ts
  src/app/components/track/track.ts
  src/app/utils/sortRaceResults.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

fix: fix race feature
  src/app/api/api.ts
  src/app/components/garage/garage.ts
  src/app/components/garage/types.ts
  src/app/components/track/track.ts
  src/app/utils/sortRaceResults.ts
  tsconfig.json
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: add finish message
  src/app/components/garage/garage.ts
  src/app/components/track/track.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

fix: fix eslint errors
  .eslintrc.cjs
  src/app/api/api.ts
  src/app/components/car/car.css
  src/app/components/car/car.ts
  src/app/components/garage/garage.ts
  src/app/components/track/track.css
  src/app/components/track/track.ts
  src/app/components/winners/winners.ts
  src/app/services/router/router.ts
  tsconfig.json
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: implement create and update winner feature
  src/app/api/api.ts
  src/app/api/types.ts
  src/app/app.ts
  src/app/components/car/car.ts
  src/app/components/garage/garage.ts
  src/app/components/winners/types.ts
  src/app/components/winners/winnerRow.ts
  src/app/components/winners/winners.ts
  src/app/services/router/router.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: disable contrtols during racing
  .eslintrc.cjs
  src/app/components/baseForm/form.ts
  src/app/components/editForm/editForm.ts
  src/app/components/garage/garage.ts
  src/app/components/header/header.ts
  src/app/components/track/track.ts
  src/app/components/updateForm/updateForm.ts
  src/app/components/winners/winners.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

feat: implement reset feature
  src/app/components/car/car.css
  src/app/components/garage/garage.ts
  src/app/components/track/track.ts
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: add pagination for garage page
  src/app/api/api.ts
  src/app/components/garage/garage.css
  src/app/components/garage/garage.ts
  src/app/components/pagination/pagination.ts
  src/app/components/pagination/types.ts
  src/styles/global.css
Due: prettier --write, stylelint --fix, eslint src --ext .ts, eslint --ext ts --fix .

feat: add pagination for winners page
  src/app/api/api.ts
  src/app/components/garage/garage.ts
  src/app/components/winners/winners.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .

fix: fix pagination bugs
  src/app/api/api.ts
  src/app/components/garage/garage.ts
  src/app/components/header/header.ts
  src/app/components/pagination/pagination.ts
  src/app/components/winners/winners.ts
Due: prettier --write, eslint src --ext .ts, eslint --ext ts --fix .
